$red: #ee3e58;
$gray: #777;

.error {
  background: $red;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 0.7em;
  font-weight: 700;
  opacity: 0.8;
  padding: 4px 8px;
  pointer-events: none;
  position: absolute;
  right: 4px;
  top: 10px;
}

.unset {
  color: $gray !important;
}

.loading {
  color: $gray;
  padding: 10px 10px 8px;

  @supports (-moz-appearance:none) {
    padding: 11px 10px 9px;
  }
}

.spinner {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
